<launch>

  <arg name="uav_model" default="$(find pomdp_ros)/Gazebo/URDF/UAV.urdf"/>
  <arg name="segway_model" default="$(find pomdp_ros)/Gazebo/URDF/Segway.urdf"/>
  <arg name="cast_model" default="$(find pomdp_ros)/Gazebo/URDF/cast.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find pomdp_ros)/rviz/config.rviz" />

  <param name="uav_description" command="$(find xacro)/xacro --inorder $(arg uav_model)" />
  <param name="segway_description" command="$(find xacro)/xacro --inorder $(arg segway_model)" />
  <param name="cast_description" command="$(find xacro)/xacro --inorder $(arg cast_model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
