 <launch> 
  <!-- start integrator -->
  <node pkg="pomdp_ros" type="integrator" name="int" output="screen">
  <param name="_timeScale" value="1" />
  </node>

  <!-- start controller -->
  <node pkg="pomdp_ros" type="controller" name="controller" output="screen">
  </node>

  <!-- start gazebo interface -->
  <node pkg="pomdp_ros" type="gazebo_interface" name="gazebo_interface" output="screen">
  </node>

  </launch>
